@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/*------Global Stylings------*/
:root {
	--golden: #F1B43E;
	--darkgrey: #323232;
	--lightgrey: #676767;
	--lightergrey: #727272;
	--rootcolor: #FCFAF4;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
	letter-spacing: -1px;
}

body{
	background-color: var(--rootcolor);
}

.container{
	max-width: 84%;
	margin: auto;
}

.container2{
	max-width: 72%;
	margin: auto;
}

.flex{
	display: flex;
	flex-direction: row;
}

.center{
	justify-content: space-between;
	align-items: center;
}

a{
	text-decoration: none;
}

ul {
	list-style: none;
}

h1{
	color: var(--darkgrey);
	line-height: 42px;
	font-size: 40px;
	margin: 30px 0 20px;
}

main, #contact, #project{
	padding: 130px 0 50px;
}

#about, #works{
	padding: 50px 0 50px;
}

.bg{
	background-size: 200px auto;
	background-repeat: no-repeat;
	background-position: top center;
}

.small-col .bg1{
	background-image: url("../images/col-bg1.webp");
}

.small-col .bg2{
	background-image: url("../images/col-bg2.webp");
}

.small-col .bg4{
	background-image: url("../images/col-bg4.webp");
}

.small-col .bg6{
	background-image: url("../images/col-bg6.png");
}

.wide-col{
	background-size: 500px auto;
}

.bg3{
	background-image: url("../images/col-bg3.webp");
}

.bg5{
	background-image: url("../images/col-bg5.webp");
}

#about h1, #works h1{
	color: rgb(237, 236, 232);
	font-size: clamp(0px, 22vw, 320px);
	font-family: "DM Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	text-align: center;
	letter-spacing: -0.05em;
	line-height: 1;
	text-transform: capitalize;

	animation-duration: 0.5s;
	animation-name: animate-fade;
	animation-fill-mode: backwards;
}

.col-common {
	background-color: #fff;
	padding: 32px;
	border-radius: 24px;
	box-shadow: rgba(0 0 0 / 4%) 0px 1px 50px 0px;
	height: 280px;	
	width: 100%;
	transition: 0.5s;
	display: block;
	animation-name: animate-pop;
	animation-duration: 0.5s;
}

@keyframes animate-fade {
	0% {
		opacity: 0;
		transform: translate(0px, 20%);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0%);
	}
}

@keyframes animate-pop {
	0% {
		opacity: 0;
		transform: scale(0.9, 0.9);
	}

	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

.col-common:hover{
	box-shadow: rgba(241, 180, 62, 0.3) 0px 2px 60px 0px;
}

.col-common:hover .icon-btn{
	background-color: #FCF0D8;
	color: var(--golden);
	border: 3px solid var(--golden);
}

.icon-btn{
	align-self: flex-end;
}

/*--------Header Styles--------*/

header{
	padding: 25px 0;
	position: fixed;
	width: 100%;
	z-index: 9;
	background-color: #FCFAF4;
}

nav a{
	font-size: 16px;
}

nav ul a{
	font-weight: 500;
	color: var(--lightergrey);
	margin: 0 25px;
}

nav ul a:hover{
	color: var(--darkgrey);
}

nav ul a:active{
	color: var(--golden);
}

.contact a{
	background-color: var(--darkgrey);
	border-radius: 100px;
	padding: 8px 16px;
	color: #fff;
	font-weight: 700;
	transition: 0.4s;
}

.contact a:hover{
	background-color: var(--golden);
}

.hamburger {
	display: none;
	width: 24px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.hamburger span {
	display: block;
	height: 2px;
	background: var(--lightergrey);
	border-radius: 10px;
	opacity: 1;
	margin-bottom: 6.5px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .5s ease-in-out;
}

.hamburger span:nth-child(1) {
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.hamburger span:nth-child(2) {
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.hamburger span:nth-child(3) {
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.hamburger.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hamburger.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.hamburger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.menu {
	height: 0px;
	width: 100%;
	overflow: hidden;
	background-color: var(--rootcolor);
	transition: 1s;
	position: fixed;
	top: 14%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.menu.show {
	height: 310px;
}

.nav-item{
	margin-bottom: 25px;
}

.nav-link{
	font-size: 20px;
	margin-bottom: 10px;
}

.contact-responsive{
	margin: 25px 0 15px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.contact-responsive a{
	background-color: var(--darkgrey);
	border-radius: 100px;
	padding: 6px;
	width: 50%;
	display: block;
	color: #fff;
	font-weight: 700;
	transition: 0.4s;
}

/*-------- Home Page Main Section Styles---------*/
.col{
	width: 50%;
}

.profile{
	width: 90px;
	border-radius: 100%;
}

.col1 p{
	color: var(--lightgrey);
	line-height: 29px;
	font-size: 22px;
	font-weight: 500;
}

.icon-btn{
	background-color: #f9f9f8;
	color: #e0dfdc;
	border-radius: 100%;
	border: 3px solid #e0dfdc;
	padding: 5px 7px;
}

.col:first-child .small-col, .right .mar{
	margin: 20px 0;
}

.col:first-child, .col2:first-child{
	margin-right: 20px;
}

.col2 p, .right p, .contact-details{
	color: var(--lightgrey);
	line-height: 17px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.col2 h2, .right .col1 h2{
	color: var(--darkgrey);
	line-height: 34px;
	font-size: 28px;
}

.col2:last-child{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.left .col2:last-child{
	align-items: center;
}

.col2 .fa-twitter{
	color: var(--golden);
	font-size: 100px;
	margin-bottom: 50px;
}

.fa-users-viewfinder{
	color: var(--golden);
	font-size: 50px;
	margin-bottom: 30px;
}

.col2:last-child .icon-btn{
	/*justify-content: flex-end;*/
	align-self: flex-end;
}

.col3, .end{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.col3 h2{
	color: var(--golden);
	line-height: 50px;
	font-size: 56px;
}

.col3 h3{
	color: var(--darkgrey);
	line-height: 34px;
	font-size: 28px;
	margin-bottom: 10px;
}

.left .col3 h2{
	letter-spacing: -4px;
}

.left .col3 h3, .col2 h2, .right .col1 h2 {
	letter-spacing: -2px;
}

.right .col3 h3, .social-profile h2{
	color: var(--lightgrey);
	line-height: 26px;
	font-size: 22px;
	margin-bottom: 10px;
}

.right .col3 h3{
	margin-bottom: 0 !important;
}

.about{
	margin-top: 30px;
}

.about-box i, .services-box i{
	color: var(--golden);
	font-size: 65px;
	margin: 0 auto 30px;
}

.about-box{
	margin-right: 80px;
}

/*--------Contact Page Styles----------*/
.services{
	align-items: flex-start;
}

.services-box{
	background-color: #fff;
	margin-right: 25px;
	width: 33%;
	padding: 70px 30px;
	border-radius: 24px;
	box-shadow: rgba(0 0 0 / 4%) 0px 1px 50px 0px;
	height: 380px;	
}

.services-box:last-child{
	margin-right: 0px;
}

.services-box h3, .collab{
	color: var(--lightgrey);
	line-height: 31px;
	font-size: 26px;
	margin-bottom: 10px;	
}

.collab{
	font-weight: 500;
	margin-bottom: 50px;
}

.services-box p, .contact-redirect a{
	color: var(--lightgrey);
	line-height: 29px;
	font-size: 22px;
	font-weight: 500;
}

.contact-redirect{
	margin-bottom: 35px;
}

#contact .social ul {
	justify-content: flex-start;
}

#contact .social i {
	margin: 0 40px 0 0;
}

#contact .social {
	margin: 40px 0 0px;
}

#contact h1{
	margin: 0px 0 30px;
}

.contact-form{
	justify-content: space-between;
	padding-bottom: 80px;
}

.form-details{
	width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

form{
	background-color: #fff;
	border-radius: 24px;
	padding: 32px;
	box-shadow: rgb(0 0 0 / 4%) 0px 5px 35px 0px;
	width: 60%;
}

form input, textarea{
	width: 100%;
	line-height: 1.4em;
	outline: none;
	border: none;
	padding: 17px;
	border-radius: 8px;
	font-weight: 400;
	font-size: 16px;
	background: rgb(249, 248, 244);
	color: var(--darkgrey);
	margin-bottom: 25px;
	letter-spacing: 0px !important;
}

textarea{
	resize: vertical;
	height: 150px;
}

.form-btn{
	background-color: var(--golden);
	font-weight: 600;
	color: #fff;
	transition: 0.5s;
	margin-bottom: 0px;

}

.form-btn:hover{
	background-color: #F4C365;
}

/*---------About Page Styles-----------*/
#about .small-col{
	justify-content: space-between;
}

#about .col2{
	width: 24%;
	margin-right: 0;
}

#about .col2:first-child {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

#about .col2 .icon-btn{
	align-self: flex-end;
}
#about .wide-col h2{
	letter-spacing: -4px;
}

#about .wide-col{
	width: 48.5%;
}

.about-main .col1{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.about-main .col1 h2{
	font-size: 40px;
	line-height: 48px;
	color: var(--darkgrey);
	letter-spacing: -1px !important;
}

.about-main .col1 p{
	font-size: 26px;
	line-height: 34px;
	color: var(--lightgrey);
}

.profile-picture img{
	width: 835px;
	height: 280px;
	object-fit: cover;
	border-radius: 24px;
	margin-right: 20px;
}

.about-desc {
	justify-content: space-between;
	margin: 18px 0 20px;
}

.about-desc .col-common{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 49%;
}

.about-desc h2{
	font-size: 28px;
	line-height: 34px;
	color: var(--darkgrey);
	margin-bottom: 20px;
}

.description p{
	font-size: 22px;
	line-height: 29px;
	color: var(--lightgrey);
	font-weight: 500;
}

.ex-description li{
	font-size: 26px;
	line-height: 34px;
	color: var(--lightgrey);
	font-weight: 500;
	margin-bottom: 10px;
}

.ex-description li span{
	font-size: 22px;
	line-height: 29px;
	color: #aeaeae;
}

.lines{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100px;
}

.line{
	height: 1px;
	width: 80px;
	background-color: #e0dfdc;
}

/*---------Resume Page Styles----------*/
#resume{
	color: var(--lightgrey);
	font-weight: 500;
	padding: 130px 0 30px;
	
}

.left-sidebar{
	width: 40%;
	margin-right: 50px;
	position: sticky !important;
	top: 120px;
	z-index: 1;
	height: min-content;
}

.left-sidebar .col-common{
	height: auto;
}

#resume .main-resume h2, .main-profile h2{
	font-size: 28px;
	line-height: 34px;
	color: var(--darkgrey);
	letter-spacing: -2px;
}

#resume h3{
	color: var(--golden);
	font-size: 26px;
	line-height: 31px;
	font-weight: 700;
	margin-bottom: 5px;
}

#resume .left-sidebar h3{
	font-weight: 500;
}

.left-sidebar p{
	font-size: 22px;
	line-height: 40px;
	margin-bottom: 20px;
}

.left-sidebar .main-profile a{
	color: var(--darkgrey);
	border: 1px solid var(--darkgrey);
	border-radius: 20px;
	padding: 5px 16px;
	font-size: 14px;
	font-weight: 600;
	font-family: 'DM Sans', sans-serif;
	margin-top: 20px !important;
	transition: 0.5s;
}

.left-sidebar .main-profile a:hover{
	color: var(--golden);
	border: 1px solid var(--golden);
}

#resume .main-profile h3{
	margin: 10px 0 20px;
}

.main-resume p, #resume ul li{
	font-size: 26px;
	line-height: 34px;
	letter-spacing: -1.5px;
}

#resume .set1{
	width: 40%;
}

#resume ul li{
	margin-bottom: 15px;
}

#resume ul li:last-child, .section:last-child{
	margin-bottom: 0px;
}

.section{
	margin-bottom: 50px;
	animation-duration: 0.5s;
	animation-name: animate-fade;
	animation-fill-mode: backwards;
}

.section h2{
	margin-bottom: 15px;
}

.sub-section{
	margin-bottom: 30px;
}

#resume .year{
	font-size: 16px;
	line-height: 19px;
	color: var(--lightergrey);
	margin-bottom: 15px;
}

.social-profile{
	margin-top: 20px;
	background-color: #fff;
	padding: 32px;
	border-radius: 24px;
	box-shadow: rgba(0 0 0 / 4%) 0px 1px 50px 0px;
	width: 100%;
	transition: 0.5s;
	animation-name: animate-pop;
	animation-duration: 0.5s;
}

.social-profile h2{
	margin-bottom: 0;
}

.social-profile .content:hover .icon-btn{
	background-color: #FCF0D8;
	color: var(--golden);
	border: 3px solid var(--golden);
}

.mid{
	padding: 20px 0;
	margin: 20px 0;
	border-top: 1px solid #e0dfdc;
	border-bottom: 1px solid #e0dfdc;
}

/*--------Project Page Styles---------*/
.project-header p, .project-header a{
	font-size: 22px;
	line-height: 29px;
	font-weight: 500;
	color: var(--lightgrey);
}

.project-header a:hover{
	color: var(--golden);
}

.project-header h1{
	font-size: 80px;
	line-height: 96px;
	font-weight: 500;
	color: var(--darkgrey);
	letter-spacing: -5px;
	padding-right: 150px;
	margin-bottom: 40px;
}

.project-img{
	margin: 70px 0 150px;
}

.project-img img{
	width: 100%;
	height: 520px;
	object-fit: cover;
}

.project-gallery{
	justify-content: space-between;
	margin: 130px 0;
}

.project-gallery img{
	width: 49%;
	object-fit: cover;
	height: 640px;
	border-radius: 25px;
}

.project-gallery .img-space{
	margin-top: 110px;
} 

.left-content{
	width: 30%;
}

.left-content h2{
	font-size: 22px;
	line-height: 26px;
	font-weight: 700;
	color: var(--lightgrey);
}

.right-content{
	width: 70%;
}

.right-content p{
	font-size: 26px;
	line-height: 34px;
	font-weight: 500;
	color: var(--lightgrey);
	letter-spacing: -2px;
}

.right-content h3{
	font-size: 40px;
	line-height: 48px;
	font-weight: 700;
	color: var(--darkgrey);
	letter-spacing: -2px;
	margin-bottom: 30px;
}

.sub-content:first-child{
	margin-bottom: 30px;
}

.next-btn{
	margin: 250px 0 50px;
	text-align: center;
}

.next-btn a{
	padding: 50px 130px;
	font-size: 80px;
	text-align: center;
	font-weight: 500;
	color: var(--darkgrey);
	letter-spacing: -5px;
	transition: 0s;
	border-radius: 24px;
	background-color: #ffffff;
	box-shadow: rgba(0 0 0 / 4%) 0px 1px 50px 0px;
}

.next-btn a:hover{
	color: var(--golden);
	box-shadow: rgba(241, 180, 62, 0.3) 0px 2px 60px 0px;
}

/*----------Works Style Page----------*/
#works .small-col, #works .wide-col{
	width: 49%;
}

#works .small-col .col-common {
	width: 48%;
}

.works-gallery{
	margin-bottom: 20px;
}

/*--------Footer Styles---------*/
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 50px 0 30px;
}

footer .nav{
	align-items: center;
	justify-content: center;
}

footer .logo img{
	margin-right: 25px;
}

footer nav a{
	margin: 0 15px;
}

footer nav a:hover, .copyrights ul li a:hover{
	color: var(--golden);
	text-decoration: underline;
}

.social{
	margin: 40px 0 50px;
}

.social ul {
	justify-content: center;
}

.social i{
	color: #bcbab3;
	font-size: 25px;
	margin: 0 20px;
}

.social i:hover{
	color: var(--golden);
}

.copyrights ul li{
	color: #bcbab3;
	margin: 0 15px;
}

.copyrights ul li a{
	color: var(--lightergrey);
	font-weight: 500;
}

/*Media Queries*/
@media screen and (max-width: 810px){
	/*Global Styles Responsive*/
	main .container, .small-col, .copyrights ul, footer .nav, .works-gallery, #resume .container2, .project-gallery, .project-detail{
		flex-direction: column;
	}

	.container, .container2{
		max-width: 95%;
	}

	.about-box i, .services-box i{
		margin: 0 0 30px;
	}

	/*Header Responsive*/
	header nav, .contact{
		display: none;
	}

	.hamburger{
		display: block;
	}

	/*Home Page Main Section Responsive*/
	.col {
		width: 100%;
	}

	.col:first-child .small-col{
		margin: 0px 0;
	}

	.right .mar{
		margin-top: 0;
	}

	.col-common{
		margin-bottom: 20px;
	}

	main h1{
		font-size: 32px;
	}

	main .col1{
		height: auto;
	}

	main .mar{
		height: 280px;
	}

	main .col1 p {
		font-size: 20px;
	}

	main .col3 h2 {
		font-size: 40px;
		line-height: 45px;
	}

	main .col3 i{
		align-self: flex-end;
	}

	/*About Us Responsive*/
	#about .about-main, #about .about-desc, .#about .small-col{
		flex-direction: column;
	}

	/*Works Page Responsive*/
	#works {
		padding: 50px 0 10px;
	}

	#works .wide-col, #works .small-col .col-common, #works .small-col, .project-gallery img, .left-content, .right-content{
		width: 100%;
	}

	#works .col2:first-child {
		margin-right: 0px;
	}

	#works .bg1{
		margin-bottom: 0;
	}

	/*Resume Page Responsive*/
	.left-sidebar{
		width: 100%;
		margin-bottom: 50px;
	}

	.left-sidebar .col-common{
		width: 100%;
	}

	.main-resume p, #resume ul li, #resume h3 {
		font-size: 22px;
	}

	.wide-col-icons{
		height: auto;
	}

	.wide-col-icons .about{
		flex-direction: column;
	}

	.wide-col-icons .about-box{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		text-align: left;
		margin-bottom: 20px;
	}

	.wide-col-icons .about-box i{
		margin-bottom: 0;
		font-size: 40px;
		width: 70px;
	}

	.wide-col-icons .about-box h3, .about-box:last-child{
		margin-bottom: 0;
	}

	/*Project Page Responsive*/
	.project-header h1 {
		font-size: 40px;
		line-height: 1.2em;
		letter-spacing: -3px;
	}

	.project-header p, .project-header a {
		font-size: 20px;
	}

	.project-gallery img{
		height: 450px;
	}

	.project-gallery .img-space {
		margin-top: 20px;
	}

	.left-content h2 {
		font-size: 20px;
		margin-bottom: 30px;
	}

	.right-content h3 {
		font-size: 32px;
	}

	.right-content p {
		font-size: 22px;
		line-height: 30px;
		letter-spacing: -1.5px;
	}

	.next-btn{
		margin: 200px 0 40px;
	}

	.next-btn a {
		font-size: 40px;
		letter-spacing: -2px;
		display: block;
		height: auto;
	}

	/*Footer Responsive*/
	footer .logo img{
		margin: 0 0 40px;
	}

	.copyrights ul{
		text-align: center;
	}

	.copyrights ul li{
		margin: 8px 0;
	}
}

@media screen and (min-width: 811px) and (max-width: 1170px){
	/*Global Styles Responsive*/
	.container2, .container{
		max-width: 93%;
	}

	#resume .container2,.works-gallery, main .container, .about-main{
		flex-direction: column;
	}

	.col{
		width: 100%;
	}	

	.col3{
		margin-bottom: 20px;
	}

	.small-col{
		justify-content: space-between;
	}

	.small-col .col2{
		width: 49%;
	}

	/*Works Page Responsive*/
	.works-gallery{
		margin-bottom: 0;
	}

	#works .wide-col, #works .small-col{
		width: 100%;
	}

	#works .small-col .col-common {
		width: 49%;
	}

	#works .col-common{
		margin-bottom: 20px;
	}

	.col2:first-child {
		margin-right: 0px;
	}

	/*Resume Page Responsive*/
	.left-sidebar{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 70px;
	}

	.left-sidebar .col-common{
		width: 49%;
	}

	.left-sidebar .social-profile{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.social-profile {
		margin-top: 0px; 
	}

	.main-resume p, #resume ul li {
		font-size: 24px;
	}

	/*Project Page Responsive*/
	.project-header h1 {
		font-size: 64px;
		line-height: 1.2em;
		padding-right: 0;
	}

	.right-content h3 {
		font-size: 34px;
	}

	.right-content p {
		font-size: 24px;
	}

	.project-gallery img{
		height: 500px;
	}

	.next-btn a{
		padding: 50px 200px;
		font-size: 64px;
	}

	/*About Page Responsive*/
	.about {
		width: 100%;
		justify-content: space-between;
	}
}

@media screen and (max-width: 1170px){
	/*Contact Us Page Responsive*/
	.contact-form{
		flex-direction: column;
	}

	.form-details, form{
		width: 100%;
	}

	form{
		margin-top: 50px;
	}

	.form-details{
		display: unset;
	}

	.form-details h1{
		font-size: 34px;
		margin: 0px 0 20px !important;
	}	

	.form-details .collab{
		font-size: 24px;
		margin-bottom: 35px;
	}

	.services-box h3{
		font-size: 24px;
	}

	.contact-redirect {
		margin-bottom: 30px;
	}	
}

@media screen and (max-width: 1000px){
	/*Contact Us Page Responsive*/
	.services{
		flex-direction: column;
	}

	.services-box{
		width: 100%;
		height: unset;
		margin-bottom: 20px;
	}

	.services-box h3{
		font-size: 22px !important;
	}

	.services-box p{
		font-size: 20px;
	}
}